[Desktop Entry]
Name=Terminal
GenericName=Terminal Emulator
Comment=Open a terminal
Exec=kitty
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=System;Utility;TerminalEmulator;
StartupWMClass=kitty
