[Unit]
Description=Reload Hyprland config on file changes
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE

[Service]
Type=oneshot
ExecStart=/usr/bin/hyprctl reload
